<small *ngIf='invalidlogin'>{{errormessage}}</small>
<div>
Username: <input type="text" name="username" [(ngModel)]="username"> <!-- doble data binding-->
PAssword: <input type="password" name="password" [(ngModel)]="password">
<br/><br/><br/>
{{username}} <!--one way binding-->
<br/><br/><br/>
<button (click)=handlelogin()>login</button>
</div>